/**
 * Document Styles
 */


html {
  height: 100%;
  box-sizing: border-box;
  background-color: #595959;
  color: #fcfcfc;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/**
 * Header Styles
 */

nav {
	list-style-type: none;
	font-family: "Times New Roman", Times, serif;
	font-size: 1.875em;
    overflow: hidden;
    background-color: #333;
}

nav ul{
	padding: 0;
	list-style-type: none;
	margin: 1em 0 0 0;
	top: 0;
	width: 95%;
}

nav li{
	display: inline;
	float: right;

}

.active{
	background-color: #4CAF50;
}

nav li a{
	padding: 0.5em 0.5em 0.5em 0.5em;
	display: block;
	width: 60px;
}

nav li:hover{
	background-color: #22A39F;
	color: #000000;
}

nav h1{
	font-size: 3em;
	padding: 0.5em 0.5em 0.5em 1.5em;
	margin: 0;
}

/**
 * Header Responsive Styles
 */


@media screen and (max-width: 800px){

	nav ul{
		width: 100%;
	}


	nav li a{
		text-align: center;
		padding: 0;
	}
	nav li a img{padding: 0;}
	nav H1{
		font-size: 1.5em;
		text-align: center;
		padding: 0.5em;
	}
}

/**
 * Body Styles
 */


body {
  position: relative;
  margin: 0;
  padding-bottom: 9.5rem;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.body {
  margin: 0 auto;
  padding-top: 20px;
  max-width: 640px;
  width: 94%;
  text-align: center;
}

.body h1 {
  margin-top: 0;
}

/**
 * Footer Styles
 */

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #333;
  text-align: center;
}

.footer ul {
	width: 20%;
	list-style-type: none;
	margin: 0em;
	text-align: left;
	float: left;		
}

.footer li{
	display: inline;
	float: left;
	padding: 0em;
}


footer li a{
	padding: 0em 0em 0em 0.5em;
	display: block;
}

#contactInfo {
  width: 72.5%;
}

#container {
   height:100%;
}

